body {
    margin-top: 10px;
}
.vert-5 {
    margin-bottom: 5px;
}
.bordered {
    border: 1px solid #ddd;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    padding: 15px;
}
.mytable td {
    max-width: 575px;
    word-wrap: break-word;
}
